---
title: Секция
layout: page
tags: ['gyms','page']
pageOrder: 1
sitemap: true
changfreq: 'monthly'
priority: 0.9
---
div(class="span12")
    h3.
        Спорткомплекс МПО им. Румянцева
    div(class="span8")

        |Небольшой зал в здании одноименного спорткомплекса.
        p.
            Цена абонемента на месяц &mdash; 4000 рублей за 14 занятий. Бонус &mdash; сауна.
        p.
            Телефон <strong>8 (916) 587-13-58</strong>
        p
            |Имеется бассейн и тренажерный зал, оплачиваются отдельно. Подробнее о других услугах спорткомплекса можно узнать на&nbsp;
            a(href="http://www.sport-mpo.ru/",title="Спорткомплекс МПО им.Румянцева") их официальном сайте
            |.


        ul(class="thumbnails")
            li(class="span4")
                a(class="fancybox thumbnail",rel="group",href="/images/box1L.jpg")
                    img(src=getThumbnail('images/box1L.jpg'),alt="Ринг",class="img-rounded")
            li(class="span4")
                a(class="fancybox thumbnail",rel="group",href="/images/box2L.jpg")
                    img(src=getThumbnail('images/box2L.jpg'),alt="Зал",class="img-rounded")

    div(class="span3")
        div(class="well well-small")
            address
                strong.
                    Спорткомплекс МПО им. Румянцева<br>
                |Писцовая, 12<br>
                |Москва
        |<iframe width="300" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ru/maps?q=%D1%83%D0%BB.+%D0%9F%D0%B8%D1%81%D1%86%D0%BE%D0%B2%D0%B0%D1%8F,+12,&amp;ie=UTF8&amp;hq=&amp;hnear=%D1%83%D0%BB.+%D0%9F%D0%B8%D1%81%D1%86%D0%BE%D0%B2%D0%B0%D1%8F,+12,+%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0&amp;gl=ru&amp;t=m&amp;ll=55.798193,37.577448&amp;spn=0.014474,0.025749&amp;z=14&amp;output=embed&amp;iwloc=near"></iframe><br /><small><a href="https://maps.google.ru/maps?q=%D1%83%D0%BB.+%D0%9F%D0%B8%D1%81%D1%86%D0%BE%D0%B2%D0%B0%D1%8F,+12,&amp;ie=UTF8&amp;hq=&amp;hnear=%D1%83%D0%BB.+%D0%9F%D0%B8%D1%81%D1%86%D0%BE%D0%B2%D0%B0%D1%8F,+12,+%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0&amp;gl=ru&amp;t=m&amp;ll=55.798193,37.577448&amp;spn=0.014474,0.025749&amp;z=14&amp;source=embed" style="color:#0000FF;text-align:left">Просмотреть увеличенную карту</a></small>