@import 'nib'

a, a:link
    cursor pointer

body
    padding-top 60px

table
    tfoot, tbody
        th
            border-top 1px solid #DDD

img.ruble-img
    height 1.5ex

span.dot
    position absolute
    text-indent -1000em

.thumbnails
    padding-top 20px

.phone
    color #4D4E47
    float right !important

.social-button
    display inline-block

.copyright
    display inline-block
    float right

footer
    width 100%
    text-align center